<div layout>
    <a href="#/admin/pools">back to all pools</a>

    <h3>Nodes for pool {{ model.poolId }}</h3>
    <button ng-click="addPoolNode(model.poolId)">create node</button>
    <table ng-init="getPoolNodes(model.poolId)">
        <thead>
            <tr class="pool-nodes">
                <th class="sortable" ng-click="predicate = 'id'; reverse=!reverse"><a href="">Node ID</a></th>
                <th>Machine ID</th>
                <th>Pool Settings ID</th>
                <th class="sortable" ng-click="predicate = 'nodeStatus'; reverse=!reverse"><a href="">Machine Status</a></th>
                <th>Machine SSH Details</th>
                <th class="sortable" ng-click="predicate = 'expires'; reverse=!reverse"><a href="">Expires in</a></th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in model.nodes | orderBy:predicate:reverse">
                <td>{{ node.id }}</td>
                <td>{{ node.machineId }}</td>
                <td>{{ node.poolId }}</td>
                <td>{{ node.nodeStatus }}</td>
                <td><pre>{{ asJson(node.machineSshDetails) | json }}</pre></td>
                <td>{{ node.expires | date:"medium" }} </td>
                <td>
                    <button ng-if="node.id" ng-click="bootstrapPoolNode(model.poolId, node.id)">bootstrap node</button>
                </td>
                <td>
                    <button ng-if="node.id" ng-click="deletePoolNode(model.poolId, node.id)">delete node</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
