<div layout>
    <a href="#/admin/accounts/{{accountId}}/pools/{{pool.id}}/combinedView">Back to pool dashboard</a>
    <h3>Create new pool for user {{ accountId }}</h3>
    <!--<label for="poolSettingsTextarea">pool settings</label>-->
    <textarea placeholder="pool settings" id="poolSettingsTextarea" ng-model="pool.poolSettingsStr"></textarea>
    <textarea placeholder="bootstrap script" id="bootstrapScriptTextarea" ng-model="pool.bootstrapScript"></textarea>
    <button ng-click="getBootstrapScript()">Get Default script</button>
    <br/>
    <button ng-click="updateAccountPool(accountId, pool.poolSettingsStr, pool.bootstrapScript)">Update Pool</button>
</div>