
<div ng-show="needsLogin" id="login">
    <div class="error">
        {{pageError}}
    </div>

    <form ng-submit="login()">
        {{ 'login.username' | i18n }} <input ng-model="page.email"/><br/>

        {{ 'login.password' | i18n }} <input ng-model="page.password" type="password"/><br/>

        <input type="submit" value="{{ 'global.buttons.submit' | i18n }}"/><br/>

        {{ 'login.noAccount' | i18n}}<br/>
        <a ng-href="#/signup">{{ 'login.signup' | i18n }}</a>
    </form>
</div>
